ul.mainlevel-suckerfish ul ul a.sublevel-suckerfish, ul.mainlevel-suckerfish ul ul a.sublevel_active-suckerfish, ul.mainlevel-suckerfish ul ul a.sublevel_current-suckerfish,
ul.mainlevel-suckerfish ul ul a.sublevel-suckerfish:link, ul.mainlevel-suckerfish ul ul a.sublevel_active-suckerfish:link, ul.mainlevel-suckerfish ul ul a.sublevel_current-suckerfish:link,
ul.mainlevel-suckerfish ul ul a.sublevel-suckerfish:visited, ul.mainlevel-suckerfish ul ul a.sublevel_active-suckerfish:visited, ul.mainlevel-suckerfish ul ul a.sublevel_current-suckerfish:visited {
	background:none;
	color: #333;
	border-top:0px solid #D4D1D1;border-bottom:1px solid #D4D1D1;
	border-left:1px solid #D4D1D1;border-right:1px solid #D4D1D1;	
}

ul.mainlevel-suckerfish ul ul a.sublevel-suckerfish:hover, ul.mainlevel-suckerfish ul ul a.sublevel_active-suckerfish:hover, ul.mainlevel-suckerfish ul ul a.sublevel_current-suckerfish:hover {
	background-color: #64BA3A;
	color:#333333;
}
ul.mainlevel-suckerfish  .expanded {
	display: block;
	background-image: url("../../images/pink/arrow.gif");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
	
}
ul.mainlevel-suckerfish ul .expanded {
	display: block;
	background-image: url("../../images/pink/arrow_right.gif");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 5px;
}
/** customize style / layout here */

a.mainlevel-suckerfish, a.mainlevel_active-suckerfish, a.mainlevel_current-suckerfish, span.mainlevel-suckerfish,
a.mainlevel-suckerfish:link, a.mainlevel_active-suckerfish:link, a.mainlevel_current-suckerfish:link,
a.mainlevel-suckerfish:visited, a.mainlevel_active-suckerfish:visited, a.mainlevel_current-suckerfish:visited,
a.mainlevel-suckerfish:hover, a.mainlevel_active-suckerfish:hover, a.mainlevel_current-suckerfish:hover
{
	font-weight:normal;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
	display: block;
	padding: 0 1em;
	line-height:16px;
	color:#333;
	background:none;	
	/* top, right, bottom, left */
	
}
a.sublevel-suckerfish, a.sublevel_active-suckerfish, a.sublevel_current-suckerfish, span.sublevel-suckerfish,
a.sublevel-suckerfish:link, a.sublevel_active-suckerfish:link, a.sublevel_current-suckerfish:link,
a.sublevel-suckerfish:visited, a.sublevel_active-suckerfish:visited, a.sublevel_current-suckerfish:visited
{
	background: inherit;
	border-top:0px solid #D4D1D1;border-bottom:1px solid #D4D1D1;
	border-left:1px solid #D4D1D1;border-right:1px solid #D4D1D1;
	color:#333333;
	font-weight:normal;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
	display: block;
	padding: 0.3em 0.5em 0.3em 0.5em;
		/* top, right, bottom, left */}
a.sublevel-suckerfish:hover, a.sublevel_active-suckerfish:hover, a.sublevel_current-suckerfish:hover {
	background: #51A22A;
	color:#333333;
	font-weight:normal;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
	display: block;
	padding: 0.3em 0.5em 0.3em 0.5em;	/* top, right, bottom, left */
}
a.sublevel-suckerfish, a.sublevel_active-suckerfish, a.sublevel_current-suckerfish, span.sublevel-suckerfish {

	border-top: none;
	height: 1%;	/* this is required for the IE to cause the "hasLayout" property and make the whole anchor clickable - "Holly Hack" */
}
#active_menu-suckerfish,
a.mainlevel_active-suckerfish, a.mainlevel_current-suckerfish,
a.mainlevel_active-suckerfish:link, a.mainlevel_current-suckerfish:link,
a.mainlevel_active-suckerfish:visited, a.mainlevel_current-suckerfish:visited,
a.mainlevel_active-suckerfish:hover, a.mainlevel_current-suckerfish:hover,
a.sublevel_active-suckerfish, a.sublevel_current-suckerfish,
a.sublevel_active-suckerfish:link, a.sublevel_current-suckerfish:link,
a.sublevel_active-suckerfish:visited, a.sublevel_current-suckerfish:visited,
a.sublevel_active-suckerfish:hover, a.sublevel_current-suckerfish:hover {
	font-weight: normal;
	color:#333333;
}
#active_menu-suckerfish,
li a.mainlevel_active-suckerfish, li a.mainlevel_current-suckerfish,
li a.mainlevel_active-suckerfish:link, li a.mainlevel_current-suckerfish:link,
li a.mainlevel_active-suckerfish:visited, li a.mainlevel_current-suckerfish:visited,
li a.mainlevel_active-suckerfish:hover, li a.mainlevel_current-suckerfish:hover,
li a.sublevel_active-suckerfish, li a.sublevel_current-suckerfish,
li a.sublevel_active-suckerfish:link, li a.sublevel_current-suckerfish:link,
li a.sublevel_active-suckerfish:visited, li a.sublevel_current-suckerfish:visited,
li a.sublevel_active-suckerfish:hover, li a.sublevel_current-suckerfish:hover {
	font-weight: normal;
	padding-left:5px;		
}

ul.mainlevel-suckerfish{

	padding: 0 0 0 0;
	margin: 0;
	list-style: none;
	line-height:16px;
	z-index: 100;
}
.mainlevel-suckerfish ul {
	padding: 0 0 0 0;
	margin: 0;
	list-style: none;
	line-height:16px;
	z-index: 100;
}
.mainlevel-suckerfish ul ul {
	padding: 4px 0 0 0;
	margin: 0;
	list-style: none;
	line-height:16px;
	z-index: 100;
}
ul.mainlevel-suckerfish li {
	padding: 0;
	margin: 0;
	float: left;
}

ul.mainlevel-suckerfish li li {
	position: relative;
	display: block;
	width: 12em;
}
ul.mainlevel-suckerfish ul {
	display: block;
	position: absolute;
	left: -999em;
	margin: -0.1em 0 0 -0.1em;
	width: auto;
	height: auto;
	z-index: 101;
}
	
ul.mainlevel-suckerfish li li ul {
	margin: -2.2em 0 0 12em;
	z-index: 102;
}

ul.mainlevel-suckerfish li:hover ul,
ul.mainlevel-suckerfish li.hover ul {
	left: auto;
}
ul.mainlevel-suckerfish li:hover ul ul,
ul.mainlevel-suckerfish li.hover ul ul {
	left: -999em;
}
ul.mainlevel-suckerfish li:hover ul li:hover ul,
ul.mainlevel-suckerfish li.hover ul li.hover ul {
	left: auto;
}
ul.mainlevel-suckerfish, ul.mainlevel-suckerfish li li {
	clear: left;
}
/** separator */
span.mainlevel-suckerfish, span.sublevel-suckerfish {
	display: block;
	width: 1em;
	border-width: 0px;
	margin-left: 1em;
	padding: 0;
	padding-top: 1px;
}
/** IE5.0/win workaround: the ">" is handled like a "," */
ul.mainlevel-suckerfish > ul.mainlevel-suckerfish {
	position: absolute;
	top: 5em;	/* change the absolute position for IE5.0 here */
}
ul.mainlevel-suckerfish > ul.mainlevel-suckerfish li.hover ul {
	margin: 0.1em 0 0 0em;	/* top, right, bottom, left */
}
ul.mainlevel-suckerfish > ul.mainlevel-suckerfish li.hover ul ul {
	margin: -1.6em 0 0 10em;	/* top, right, bottom, left */
}

:focus{
	outline: none;
}

#topnav *{
	list-style:none;
	/*min-height: 20px;
	line-height: 35px;*/
}

#topnav ul.mainlevel-suckerfish{
	padding: 0 1px 1px 1px;
}

#topnav ul.mainlevel-suckerfish li{
	background: none;
	/*border-right:1px solid #222;*/
}

#topnav ul.mainlevel-suckerfish li ul{
	/*background: #333;*/
	border:1px solid #222;
}

#topnav ul.mainlevel-suckerfish li:hover{
	/*background:#444;*/
}

#topnav ul.mainlevel-suckerfish .expanded{
	background: transparent url(../../images/pink/arrowdown.png) no-repeat right center;
}

#topnav ul.mainlevel-suckerfish ul .expanded{
	background: transparent url(../../images/pink/arrowright.png) no-repeat right center;
}

#topnav  a.mainlevel-suckerfish{
	font-family: verdana, arial, tahoma, sans-serif;
	font-size: 12px;
 	color: #fff;
	font-weight: bold;
}

#topnav a.sublevel-suckerfish,
#topnav a.sublevel_current-suckerfish,
#topnav a.sublevel_active-suckerfish{
	margin: 0px;
}

#topnav a.sublevel-suckerfish{
	background: #444;
	color: #777;
	border: 1px solid #222;
}

#topnav a.sublevel-suckerfish:hover{
	background: #555 url(../../images/pink/menu_active1.jpg) no-repeat 50% 0;
	color: #fff;
}

#topnav  a.mainlevel-suckerfish:hover{
	color: #fff;
	background: url(../../images/pink/menu_active1.jpg) no-repeat 50% 0;
}

#topnav a.mainlevel_current-suckerfish{
	background:url(../../images/pink/menu_active1.jpg) no-repeat 50% 0;
	color: #FFF;
	border: none;
	font-weight: bold;
}

#topnav a.mainlevel_active-suckerfish{
	background:#3B0000 url(../../images/pink/menu_active1.jpg) no-repeat 50% 0;
	color: #FFF;
}

#topnav a.sublevel_active-suckerfish{
	background:#2F0101;
	color: #FFF;
	border:1px solid #222;
}

#topnav a.sublevel_current-suckerfish{
	background:#3B0000;
	color: #FFF;
	border:1px solid #222;
}

#topnav a.mainlevel_active-suckerfish:hover,
#topnav a.mainlevel_current-suckerfish:hover{
	background: #555 url(../../images/pink/menu_active1.jpg) no-repeat 50% 0;
	color: #FFF;
}

#topnav a.sublevel_active-suckerfish:hover,
#topnav a.sublevel_current-suckerfish:hover{
	background:#dd0000;
	color: #FFF;
	border:1px solid #222;
}